<style>
  .thumbnail img {
        width: 252px;
        height: 214px;
    }
</style>
<div class="col-xs-6 col-sm-3">
    <div itemscope itemtype="http://schema.org/Product">
        <div class="thumbnail">
            <a itemprop="url" href="{{ site.url }}/rework-station/">
                <img itemprop="image" src="/images/products/rework-station.jpg" alt="Rework Station">
            </a>
            <div class="caption text-center">
                <a itemprop="url" href="{{ site.url }}/rework-station/"><span itemprop="name">Rework Station</span></a>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-6 col-sm-3">
    <div itemscope itemtype="http://schema.org/Product">
        <div class="thumbnail">
            <a itemprop="url" href="{{ site.url }}/bishitantou/">
                <img itemprop="image" src="/images/products/bishitantou.jpg" alt="笔试探头">
            </a>
            <div class="caption text-center">
                <a itemprop="url" href="{{ site.url }}/bishitantou/"><span itemprop="name">笔试探头</span></a>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-6 col-sm-3">
    <div itemscope itemtype="http://schema.org/Product">
        <div class="thumbnail">
            <a itemprop="url" href="{{ site.url }}/danjinzhitantou/">
                <img itemprop="image" src="/images/products/danjinzhitantou.jpg" alt="单晶直探头">
            </a>
            <div class="caption text-center">
                <a itemprop="url" href="{{ site.url }}/danjinzhitantou/"><span itemprop="name">单晶直探头</span></a>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-6 col-sm-3">
    <div itemscope itemtype="http://schema.org/Product">
        <div class="thumbnail">
            <a itemprop="url" href="{{ site.url }}/ruanmotantou/">
                <img itemprop="image" src="/images/products/ruanmotantou.jpg" alt="软膜探头">
            </a>
            <div class="caption text-center">
                <a itemprop="url" href="{{ site.url }}/ruanmotantou/"><span itemprop="name">软膜探头</span></a>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-6 col-sm-3">
    <div itemscope itemtype="http://schema.org/Product">
        <div class="thumbnail">
            <a itemprop="url" href="{{ site.url }}/shuangjing/">
                <img itemprop="image" src="/images/products/shuangjing.jpg" alt="双晶">
            </a>
            <div class="caption text-center">
                <a itemprop="url" href="{{ site.url }}/shuangjing/"><span itemprop="name">双晶</span></a>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-6 col-sm-3">
    <div itemscope itemtype="http://schema.org/Product">
        <div class="thumbnail">
            <a itemprop="url" href="{{ site.url }}/xiaoshuangjingtantou/">
                <img itemprop="image" src="/images/products/xiaoshuangjingtantou.jpg" alt="小双晶探头">
            </a>
            <div class="caption text-center">
                <a itemprop="url" href="{{ site.url }}/xiaoshuangjingtantou/"><span itemprop="name">小双晶探头</span></a>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-6 col-sm-3">
    <div itemscope itemtype="http://schema.org/Product">
        <div class="thumbnail">
            <a itemprop="url" href="{{ site.url }}/xietantou/">
                <img itemprop="image" src="/images/products/xietantou.jpg" alt="斜探头3">
            </a>
            <div class="caption text-center">
                <a itemprop="url" href="{{ site.url }}/xietantou/"><span itemprop="name">斜探头3</span></a>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-6 col-sm-3">
    <div itemscope itemtype="http://schema.org/Product">
        <div class="thumbnail">
            <a itemprop="url" href="{{ site.url }}/yanshikuaitantou/">
                <img itemprop="image" src="/images/products/yanshikuaitantou.jpg" alt="延时块探头">
            </a>
            <div class="caption text-center">
                <a itemprop="url" href="{{ site.url }}/yanshikuaitantou/"><span itemprop="name">延时块探头</span></a>
            </div>
        </div>
    </div>
</div>