<div class="col-xs-6 col-sm-3">
    <div itemscope itemtype="http://schema.org/Product">
      <div class="thumbnail">
        <a itemprop="url" href="{{ site.url }}/rework-station/">
            <img itemprop="image" src="/images/products/rework-station.jpg" alt="Rework Station">
        </a>
        <div class="caption text-center">
            <a itemprop="url" href="{{ site.url }}/rework-station/"><span itemprop="name">Rework Station</span></a>
        </div>
      </div>
    </div>
  </div>
 
<div class="col-xs-6 col-sm-3">
    <div itemscope itemtype="http://schema.org/Product">
      <div class="thumbnail">
        <a itemprop="url" href="{{ site.url }}/bishitantou/">
            <img itemprop="image" src="/images/products/bishitantou.jpg" alt="笔试探头">
        </a>
        <div class="caption text-center">
            <a itemprop="url" href="{{ site.url }}/bishitantou/"><span itemprop="name">笔试探头</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-3">
    <div itemscope itemtype="http://schema.org/Product">
      <div class="thumbnail">
        <a itemprop="url" href="{{ site.url }}/danjinzhitantou/">
            <img itemprop="image" src="/images/products/danjinzhitantou.jpg" alt="单晶直探头">
        </a>
        <div class="caption text-center">
            <a itemprop="url" href="{{ site.url }}/danjinzhitantou/"><span itemprop="name">单晶直探头</span></a>
        </div>
      </div>
    </div>
  </div>
